<h1>Level <%= @level.level_number %> Completed</h1>

<p><%= @random_praise %></p>

<p>Hits: <%= @hits %></p>
<p>Score: <%= @score %></p>

<hr>

<!-- Character placeholder -->
<div id="character-container">
  <!-- image will come later -->
</div>

<!-- PLAY AGAIN -->
<%= link_to "Play Again", level_path(@level) %>

<!-- NEXT LEVEL LOGIC -->
<% next_level = Level.find_by(level_number: @level.level_number + 1) %>
<% if next_level %>
  <%= link_to "Next Level", level_path(next_level) %>
<% else %>
  <%= link_to "My Profile", profile_path %>
<% end %>
